* {
  box-sizing: border-box;
}

:root {
  --main-font: 'Rubik', sans-serif
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  padding: 1rem 0;
}

h1 {
  margin: auto;
  font-family: var(--main-font);
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}