

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --primary: #121212;
  --secondary: #1d1d1d;
  --accent: rgb(109, 1, 197);
  --wind-degree: 0deg;
}


body {
  height: 100vh;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  background-color: var(--primary);
}

header {
  display: flex;
  padding: 1rem 0;
  background-color: var(--secondary);
}

.header-txt {
  margin: auto;
  font-family: var(--main-font);
  color: white;
}

main {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 50% 40%;
  padding: 1rem;
}

.form-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#location-input {
  padding: 8px;
  border-radius: 8px;
  border: none;
}

#search {
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px;
  border: none;
  color: white;
  background-color: var(--accent);
}

#hourly-card {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 8px;
  color: white;
  font-family: var(--main-font);
  grid-template-rows: repeat(10, 1fr)
}

.hourly-h1 {
  margin: auto;
}

#location-card {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--secondary);
}

.location-data, .temperature-data, #time-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: var(--main-font);
  gap: 8px;
}

#time-data {
  font-size: 1.5rem;
}

#wind-card {
  grid-area: 2 / 3 / 3 / 4;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--secondary);
  font-family: var(--main-font);
  color: white;
}

.wind-item {
  margin: auto;
}

#wind-speed {
  font-size: 2rem;
  font-weight: bold;
}

.fa-arrow-up-long {
  font-size: 8rem;
  transform: rotate(var(--wind-degree));
  transition: transform 400ms ease-in-out
}

#forecast-card {
  grid-area: 3 / 1 / 4 / 4;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 8px;
  font-family: var(--main-font);
  color: white;
}

.forecast-h1 {
  grid-area: 1 / 1 / 2 / 4;
  margin: auto;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  padding: 8px 0;
  justify-content: center;
  background-color: var(--secondary);
  font-family: var(--main-font);
  color: white;
}

.footer-text {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-in-out
}

.footer-link:hover {
  transform: rotate(360deg) scale(1.2);
}